{#=== Options ============================================================================#}

{% set attr_opt = {
    class:        field.class|default(''),
    name_id:      key,
    required:     field.required|default(false),
    readonly:     field.readonly|default(false)
}%}

{#=== FIELDSET ============================================================================#}
<fieldset class="picon-selector">
    <div class="col-sm-12">
        <div>
            <label class="control-label">{{field.label|default(key)}}</label>
        </div>
        <input type="hidden" data-picon-value {{ macro.attr(attr_opt) }}>
        <div id="picon-selector-items">
          {% for key, value in field.values %}
              {% set isSelected =  (key == context.content.get(key|capitalize)) %}
              <div class="picon-select-item{% if isSelected %} selected{% endif %}">
                <i class="{{field.prepend_class}}{{value}}"></i>
              </div>
          {% endfor %}
          <div class="clear"></div>
        </div>
    </div>
</fieldset>